{% load allauth %}
{% load tailwind_filters %}

{% if attrs.type == "textarea" %}
  <div class="grid mb-3">
    <div class="columns-auto">
      <label for="{{ attrs.id }}">
        {% slot label %}
      {% endslot %}
    </label>
  </div>
  <textarea {% if attrs.required %}required{% endif %}
            {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
            {% if attrs.disabled %}disabled{% endif %}
            {% if attrs.readonly %}readonly{% endif %}
            {% if attrs.checked %}checked{% endif %}
            {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
            {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
            {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
            class="rounded-md">{% slot value %}{% endslot %}</textarea>
</div>
{% elif attrs.type == "radio" %}
<div class="container my-3 mx-4">
  <div class="columns-auto">
    <div class="w-full">
      <input {% if attrs.required %}required{% endif %}
             {% if attrs.disabled %}disabled{% endif %}
             {% if attrs.readonly %}readonly{% endif %}
             {% if attrs.checked %}checked{% endif %}
             {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
             {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
             {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
             {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
             value="{{ attrs.value|default_if_none:"" }}"
             type="{{ attrs.type }}" />
      <label class="form-check-label" for="{{ attrs.id }}">
        {% slot label %}
      {% endslot %}
    </label>
  </div>
</div>
</div>
{% else %}
<div class="columns-auto">
  <label for="{{ attrs.id }}">
    {% slot label %}
  {% endslot %}
</label>
</div>
<div class="columns-auto">
  <input {% if attrs.required %}required{% endif %}
         {% if attrs.disabled %}disabled{% endif %}
         {% if attrs.readonly %}readonly{% endif %}
         {% if attrs.checked %}checked{% endif %}
         {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
         {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
         {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
         {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
         value="{{ attrs.value|default_if_none:"" }}"
         type="{{ attrs.type }}"
         class="form-control" />
</div>
{% endif %}
{% if slots.help_text %}
  <div class="form-text">{% slot help_text %}{% endslot %}</div>
{% endif %}
