{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {{ object }}
{% endblock title %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">{% trans "Material Details" %}</h1>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ object.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ object.short_name }}</h6>
            <hr />
            {% if object.description %}
              <p class="card-text">{{ object.description }}</p>
            {% else %}
              <p class="card-text">{% trans "No description provided" %}</p>
            {% endif %}
          </div>
        </div>
        <div class="my-5">
          <h2>{% trans "Samples" %}</h2>
          {% if object.materialsample_set %}
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>{% trans "Sample Number" %}</th>
                    <th>{% trans "Measurement" %}</th>
                    <th>{% trans "Measurements" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for sample in object.materialsample_set.all %}
                    <tr>
                      <td>{{ sample.sample_number }}:</td>
                      <td>
                        <a href="{{ sample.get_absolute_url }}">{{ sample.name }}</a>
                      </td>
                      <td>{{ sample.measurement_set.count }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <p>There are no measurement files.</p>
          {% endif %}
        </div>
        <div class="d-flex justify-content-start gap-2 mt-4">
          {% if perms.aero.add_material %}
            <a class="btn btn-primary"
               href="{% url 'aero:material-update' pk=object.id %}">{% trans "Update" %}</a>
          {% endif %}
          {% if perms.aero.delete_material %}
            <a class="btn btn-danger"
               href="{% url 'aero:material-delete' pk=object.id %}">{% trans "Delete" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
