{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Materials" %}
{% endblock title %}
{% block content %}
  <h1>{% trans "List of Materials" %}</h1>
  {% if perms.aero.add_material %}
    <div class="py-3">
      <a class="btn btn-primary" href="{% url 'aero:material-create' %}">{% trans "Create New Material" %}</a>
    </div>
  {% endif %}
  {% if object_list %}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">
              <a href="?ordering=id">#</a>
            </th>
            <th scope="col">
              <a href="?ordering=name">{% trans "Name" %}</a>
            </th>
            <th scope="col">
              <a href="?ordering=description">{% trans "Description" %}</a>
            </th>
            <th scope="col">
              <a href="?ordering=materialsample">{% trans "Samples" %}</a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr>
              <th>{{ obj.id }}</th>
              <td>
                <a class="text-black link-underline link-underline-opacity-0"
                   href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
              </td>
              <td>{{ obj.description }}</td>
              <td>{{ obj.materialsample_set.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>{% trans "No objects in list." %}</p>
  {% endif %}
{% endblock content %}
