{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Materials" %}
{% endblock title %}
{% block content %}
  <h1>{% trans "List of Materials" %}</h1>
  {% if object_list %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
          <tr>
            <th>{{ obj.id }}</th>
            <td>{{ obj.name }}</td>
            <td>{{ obj.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% trans "No objects in list." %}</p>
  {% endif %}
{% endblock content %}
