{% extends "base.html" %}

{% load i18n %}

{% block title %}
  Delete Material
{% endblock title %}
{% block content %}
  <div class="container mt-4">
    <h1>{% trans "Confirm Delete" %}</h1>
    <p>{% trans "Are you sure you want to delete " %}{{ object.name }}?</p>
    <form method="post">
      {% csrf_token %}
      <a href="{{ object.get_absolute_url }}" class="btn btn-secondary">{% trans "Cancel" %}</a>
      <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
    </form>
  </div>
{% endblock content %}
