{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Measurements" %}
{% endblock title %}
{% block content %}
  {% if object_list %}
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">{% trans "List of Measurements" %}</h1>
          <p class="mt-2 text-sm text-gray-700">{% trans "A list of all measurements in the database." %}</p>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
          {% if perms.aero.add_measurement %}
            <a href="{% url 'aero:measurement-create' %}"
               class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{% trans "Create New Material" %}</a>
          {% endif %}
        </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle">
            <table class="min-w-full border-separate border-spacing-0">
              <thead>
                <tr x-data="{ ordering: '{{ request.GET.ordering }}' }">
                  <th scope="col"
                      class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">
                    <a class="group inline-flex"
                       href="?ordering={% if request.GET.ordering == 'id' %}-{% endif %}id">
                      #
                      <span :class="ordering === '-id' || ordering === 'id' ? 'bg-gray-200 text-gray-900 group-hover:bg-gray-300' : 'invisible text-gray-400 group-hover:visible group-focus:visible'"
                            class="ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible">
                        <svg class="h-5 w-5"
                             :class="ordering === 'id' ? 'rotate-180' : ''"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </a>
                  </th>
                  <th scope="col"
                      class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">
                    <a class="group inline-flex"
                       href="?ordering={% if request.GET.ordering == 'aero_material__sample_number' %}-{% endif %}aero_material__sample_number">
                      {% trans "Sample number" %}
                      <span :class="ordering === '-aero_material__sample_number' || ordering === 'aero_material__sample_number' ? 'bg-gray-200 text-gray-900 group-hover:bg-gray-300' : 'invisible text-gray-400 group-hover:visible group-focus:visible'"
                            class="ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible">
                        <svg :class="ordering === 'aero_material__sample_number' ? 'rotate-180' : ''"
                             class="h-5 w-5"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </a>
                  </th>
                  <th scope="col"
                      class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">
                    <a class="group inline-flex"
                       href="?ordering={% if request.GET.ordering == 'aero_material__name' %}-{% endif %}aero_material__name">
                      {% trans "Sample" %}
                      <span :class="ordering === '-aero_material__name' || ordering === 'aero_material__name' ? 'bg-gray-200 text-gray-900 group-hover:bg-gray-300' : 'invisible text-gray-400 group-hover:visible group-focus:visible'"
                            class="ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible">
                        <svg :class="ordering === 'aero_material__name' ? 'rotate-180' : ''"
                             class="h-5 w-5"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </a>
                  </th>
                  <th scope="col"
                      class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter lg:table-cell">
                    <a class="group inline-flex"
                       href="?ordering={% if request.GET.ordering == 'mean_s21' %}-{% endif %}mean_s21">
                      {% trans "Mean S21" %}
                      <span :class="ordering === '-mean_s21' || ordering === 'mean_s21' ? 'bg-gray-200 text-gray-900 group-hover:bg-gray-300' : 'invisible text-gray-400 group-hover:visible group-focus:visible'"
                            class="ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible">
                        <svg :class="ordering === 'mean_s21' ? 'rotate-180' : ''"
                             class="h-5 w-5"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </a>
                  </th>
                  <th scope="col"
                      class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter lg:table-cell">
                    <a class="group inline-flex"
                       href="?ordering={% if request.GET.ordering == 'measurement_date' %}-{% endif %}measurement_date">
                      {% trans "Day of Measurement" %}
                      <span :class="ordering === '-measurement_date' || ordering === 'measurement_date' ? 'bg-gray-200 text-gray-900 group-hover:bg-gray-300' : 'invisible text-gray-400 group-hover:visible group-focus:visible'"
                            class="ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible">
                        <svg :class="ordering === 'measurement_date' ? 'rotate-180' : ''"
                             class="h-5 w-5"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </a>
                  </th>
                  <th scope="col"
                      class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">
                    <a class="group inline-flex"
                       href="?ordering={% if request.GET.ordering == 'measurement_file' %}-{% endif %}measurement_file">
                      {% trans "File" %}
                      <span :class="ordering === '-measurement_file' || ordering === 'measurement_file' ? 'bg-gray-200 text-gray-900 group-hover:bg-gray-300' : 'invisible text-gray-400 group-hover:visible group-focus:visible'"
                            class="ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible">
                        <svg :class="ordering === 'measurement_file' ? 'rotate-180' : ''"
                             class="h-5 w-5"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </a>
                  </th>
                  <th scope="col"
                      class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-3 pr-4 backdrop-blur backdrop-filter sm:pr-6 lg:pr-8">
                    <span class="sr-only">{% trans "Details" %}</span>
                  </th>
                  {% if perms.aero.update_material %}
                    <th scope="col"
                        class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-3 pr-4 backdrop-blur backdrop-filter sm:pr-6 lg:pr-8">
                      <span class="sr-only">{% trans "Edit" %}</span>
                    </th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for obj in object_list %}
                  <tr class="hover:bg-gray-50">
                    <td class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">
                      {{ obj.id }}
                    </td>
                    <td class="whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">
                      {{ obj.aero_material.sample_number }}
                    </td>
                    <td class="whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">
                      <a href="{{ obj.get_absolute_url }}">{{ obj.aero_material.name }}</a>
                    </td>
                    <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">
                      {{ obj.mean_s21|floatformat:2 }}
                    </td>
                    <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">
                      {{ obj.measurement_date|date:"Y-m-d H:i" }}
                    </td>
                    {% if obj.measurement_file %}
                      <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-clipboard2-check"
                             aria-hidden="true"
                             viewBox="0 0 16 16">
                          <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5z" />
                          <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z" />
                          <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z" />
                        </svg>
                        <span class="sr-only">{% trans "has file" %}</span>
                      </td>
                    {% elif perms.aero.update_measurement %}
                      <td class="relative whitespace-nowrap border-b border-gray-200 py-4 pr-4 pl-3 text-right text-sm font-medium sm:pr-8 lg:pr-8">
                        <a href="{% url 'aero:measurement-update' obj.id %}"
                           class="text-indigo-600 hover:text-indigo-900">{% trans "Add file" %}</a>
                      </td>
                    {% else %}
                      <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">{% trans "No file" %}</td>
                    {% endif %}
                    <td class="relative whitespace-nowrap border-b border-gray-200 py-4 pr-4 pl-3 text-right text-sm font-medium sm:pr-8 lg:pr-8">
                      <a href="{% url 'aero:measurement-detail' obj.id %}"
                         class="text-indigo-600 hover:text-indigo-900">{% trans "Details" %}<span class="sr-only">, {{ obj.name }}</span></a>
                    </td>
                    {% if perms.aero.update_material %}
                      <td class="relative whitespace-nowrap border-b border-gray-200 py-4 pr-4 pl-3 text-right text-sm font-medium sm:pr-8 lg:pr-8">
                        <a href="{% url 'aero:measurement-update' obj.id %}"
                           class="text-indigo-600 hover:text-indigo-900">{% trans "Edit" %}<span class="sr-only">, {{ obj.name }}</span></a>
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <p>{% trans "No objects in list." %}</p>
  {% endif %}
{% endblock content %}
