{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {{ object }}
{% endblock title %}
{% block content %}
  <div>
    <h1>{% trans "Measurement Details" %}</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{% trans "Name of sample" %}</td>
            <td>{{ object.aero_material.name }}</td>
            <td></td>
          </tr>
          <tr>
            <td>{% trans "Sample Number" %}</td>
            <td>{{ object.aero_material.sample_number }}</td>
          </tr>
          <tr>
            <td>{% trans "Material" %}</td>
            <td>{{ object.aero_material.material.name }}</td>
          </tr>
          <tr>
            <td>{% trans "Thickness" %}</td>
            <td>{{ object.aero_material.thickness }} mm</td>
          </tr>
          <tr>
            <td>{% trans "Infiltrations" %}</td>
            <td>{{ object.aero_material.infiltrations }}</td>
          </tr>
          <tr>
            <td>{% trans "Weight" %}</td>
            <td>{{ object.aero_material.weight }} mg</td>
          </tr>
          <tr>
            <th>{% trans "Mean S21" %}</th>
            <th>{{ object.mean_s21 }} dB</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <canvas id="s21Chart" width="" height="vh-1ßß"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var ctx = document.getElementById('s21Chart').getContext('2d');
      var frequency = JSON.parse('{{ object.measurement_data.frequency|safe }}').map(function(f) {
        return f / 1e9; // Convert Hz to GHz
      });
      var s21 = JSON.parse('{{ object.measurement_data.s21|safe }}');
      var s21Chart = new Chart(ctx, {
        type: 'line', // Define the type of chart you want, for example, 'line'
        data: {
          labels: frequency, // Frequency data
          datasets: [{
            label: '{{ object.aero_material.name }}',
            data: s21, // S21 data
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: 'S21 Magnitude (dB)' // Y-axis label
              }
            },
            x: {
              title: {
                display: true,
                text: 'Frequency (GHz)' // X-axis label
              }
            },
            responsive: true,
          }
        }
      });
    });
  </script>
{% endblock content %}
